<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tmpl.js"></script>
    <style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


    </style>

</head>
<body>
<h2>WELCOME ADMIN</h2>

<div class="tab">
    <button class="tablinks" onclick="openAction(event, 'Question')">Nhập Câu Hỏi</button>
    <button class="tablinks" onclick="openAction(event, 'Answer')">Nhập Trả Lời</button>
    <button class="tablinks" onclick="openAction(event, 'cohoinghenghiep')"><a href="/new-co-hoi-nghe-nghiep"> Thêm tin Cơ hội, Nghề nghiệp</a></button>
    <button class="tablinks" onclick="openAction(event, 'kynangkienthuc')"><a href="/new-ky-nang-kien-thuc">Thêm tin Kiến thức, kỹ năng</a></button>
    <button class="tablinks" onclick="openAction(event, 'News')">Thông Tin Web</button>
    <button class="tablinks" onclick="openAction(event, 'Logout')">Đăng Xuất</button>
</div>

<div id="Question" class="tabcontent">
    <form class="form-horizontal" method="post" action="">
        <div class="form-group">
            <label class="control-label col-sm-2" for="fquestion">Câu hỏi:</label>
            <div class="col-sm-10">
                <input class="form-control" id="fquestion" placeholder="Nhập câu hỏi" name="feature">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="tquestion">Nhóm câu hỏi:</label>
            <div class="col-sm-10">
                <input class="form-control" id="tquestion" placeholder="Nhập nhóm câu hỏi" name="target">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-default" name="btn" value="Submit">
            </div>
        </div>
    </form>
</div>

<div id="Answer" class="tabcontent">
    <form class="form-horizontal" method="post" action="">
        <div class="form-group">
            <label class="control-label col-sm-2" for="ttarget">Nhóm câu hỏi:</label>
            <div class="col-sm-10">
                <input class="form-control" id="ttarget" placeholder="Nhập nhóm câu hỏi" name="target">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="tfeature">Trả lời:</label>
            <div class="col-sm-10">
                <input class="form-control" id="tfeature" placeholder="Nhập câu trả lời" name="feature">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-default" name="btn" value="Send"></input>
            </div>
        </div>
    </form>
</div>

<div id="News" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>

<div id="Logout" class="tabcontent">
    <form class="form-horizontal" method="post" action="">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <label>Bạn chắc chắn muốn thoát ?</label>
                <br>
                <input type="submit" class="btn btn-default" name="btn" value="Logout"></input>
            </div>
        </div>
    </form>
</div>

</div>

<script>
function openAction(evt, ActionName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(ActionName).style.display = "block";
  evt.currentTarget.className += " active";
}


</script>


</div>
</body>

</html>