<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> Admin Page</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--     Fonts and icons     -->
    <link href="/static/css/css.css" rel="stylesheet"  type="text/css" media="all"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"  type="text/css" media="all"/>
    <!-- CSS Files -->
     <link href="/static/css/light-bootstrap-dashboard.css" rel="stylesheet"  type="text/css" media="all"/>
    <link  href="/static/css/bootstrap.min.css" rel="stylesheet"  type="text/css" media="all"/>

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/static/css/demo.css" rel="stylesheet"  type="text/css" media="all"/>
    <style>

    #footer
{
position: absolute;
height: 300px
}
    </style>
</head>
<body>
<div class="wrapper">
        <div class="sidebar" data-image="/src/static/img/sidebar-5.jpg">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Quản Lý Web
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="dashboard.html">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Nhập Câu Hỏi</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="./user.html">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Nhập Câu Trả Lời</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="./table.html">
                            <i class="nc-icon nc-notes"></i>
                            <p>Tin Cơ Hội,Nghề Nghiệp</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="./typography.html">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Tin Kiến Thức, Kỹ Năng</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="./icons.html">
                            <i class="nc-icon nc-atom"></i>
                            <p>Thông Tin website</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    {% block content %}
    {% endblock %}
<!--    footer-->
    <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Văn phòng khoa
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Thông tin
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                           Team SKYLINE made with love for a better web
                        </p>
                    </nav>
                </div>
            </footer>
<!--    end footer-->
        </div>
</body>
</html>