{% extends './masterpage.html' %}
{% block content %}
<main id="main" class="">

    <div id="content" role="main" class="content-area">
        <div class="slider-wrapper relative " id="slider-742890615">
            <div class="slider slider-nav-circle slider-nav-large slider-nav-light slider-style-normal flickity-enabled is-draggable">

                <!-- .banner -->
                <div class="flickity-viewport" style="height: 300px; touch-action: pan-y;">
                    <div class="flickity-slider" style="left: 0px;">
                        <div class="banner has-hover is-selected" id="banner-347130523"
                             style="position: absolute; left: 0%;">
                            <div class="banner-inner fill">
                                <div class="banner-bg fill">
                                    <div class="bg fill bg-fill  bg-loaded"></div>

                                </div><!-- bg-layers -->
                                <div class="banner-layers container">
                                    <div class="fill banner-link"></div>
                                    <div id="text-box-733506431"
                                         class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
                                        <div class="text dark">

                                            <div class="text-inner text-center" style="top: -50px;">

                                                <h3 class="uppercase"><strong>khoa học máy tính<br>&amp; công nghệ thông
                                                    tin</strong></h3>
                                                <p>Bạn dự định theo đuổi nghề CNTT trong tương lai nhưng không biết bắt
                                                    đầu từ đâu? Bạn muốn thử sức chinh phục CNTT để biết mình có phù hợp
                                                    với nghề này?”</p>
                                            </div>
                                        </div><!-- text-box-inner -->

                                        <style scope="scope">

#text-box-733506431 {
  width: 60%;
}
#text-box-733506431 .text {
  font-size: 100%;
}

                                        </style>
                                    </div><!-- text-box -->

                                </div><!-- .banner-layers -->
                            </div><!-- .banner-inner -->


                            <style scope="scope">

#banner-347130523 {
  padding-top: 300px;
  background-color: rgb(30, 99, 213);
}

                            </style>
                        </div>
                    </div>
                </div>
                <button class="flickity-prev-next-button previous" type="button" disabled="" aria-label="previous">
                    <svg viewBox="0 0 100 100">
                        <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>
                    </svg>
                </button>
                <button class="flickity-prev-next-button next" type="button" disabled="" aria-label="next">
                    <svg viewBox="0 0 100 100">
                        <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"
                              transform="translate(100, 100) rotate(180) "></path>
                    </svg>
                </button>
            </div>

            <div class="loading-spin dark large centered" style="display: none;"></div>

            <style scope="scope">
            </style>
        </div><!-- .ux-slider-wrapper -->

        <div class="row align-center" id="row-1700352402">
            <div class="col medium-6 small-12 large-6">
                <div class="col-inner text-center">

                    <div class="banner has-hover" id="banner-206102494">
                        <div class="banner-inner fill">
                            <div class="banner-bg fill">
                                <div class="bg fill bg-fill  bg-loaded"></div>
                                <div class="overlay"></div>
                            </div><!-- bg-layers -->
                            <div class="banner-layers container">
                                <div class="fill banner-link"></div>
                                <div id="text-box-1620809664"
                                     class="text-box banner-layer x50 md-x50 lg-x50 y30 md-y30 lg-y30 res-text">
                                    <div class="text dark">

                                        <div class="text-inner text-center">

                                            <h2 class="uppercase"><strong>ngành kỹ thuật phần mềm</strong></h2>
                                            <a href="/gioi-thieu-nganh"
                                               target="_self" class="button white is-outline">
                                                <span>Xem thêm</span>
                                            </a>

                                        </div>
                                    </div><!-- text-box-inner -->

                                    <style scope="scope">

#text-box-1620809664 {
  width: 60%;
}
#text-box-1620809664 .text {
  font-size: 100%;
}


@media (min-width:550px) {

  #text-box-1620809664 {
    width: 71%;
  }

}

                                    </style>
                                </div><!-- text-box -->

                            </div><!-- .banner-layers -->
                        </div><!-- .banner-inner -->


                        <style scope="scope">

#banner-206102494 {
  padding-top: 300px;
}
#banner-206102494 .bg.bg-loaded {
  background-image: url("/static/fileweb/nganh_cong_nghe_phan_mem-1-280x280.jpg");
}
#banner-206102494 .overlay {
  background-color: rgba(0, 0, 0, 0.31);
}

                        </style>
                    </div><!-- .banner -->


                </div>
            </div>
            <div class="col medium-6 small-12 large-6">
                <div class="col-inner text-center">

                    <div class="banner has-hover" id="banner-256600390">
                        <div class="banner-inner fill">
                            <div class="banner-bg fill">
                                <div class="bg fill bg-fill  bg-loaded"></div>
                                <div class="overlay"></div>
                            </div><!-- bg-layers -->
                            <div class="banner-layers container">
                                <div class="fill banner-link"></div>
                                <div id="text-box-530798560"
                                     class="text-box banner-layer x50 md-x50 lg-x50 y30 md-y30 lg-y30 res-text">
                                    <div class="text dark">

                                        <div class="text-inner text-center">

                                            <h2 class="uppercase"><strong>ngành hệ thống thông tin</strong></h2>
                                            <a href="/gioi-thieu-nganh"
                                               target="_self" class="button white is-outline">
                                                <span>Xem thêm</span>
                                            </a>

                                        </div>
                                    </div><!-- text-box-inner -->

                                    <style scope="scope">

#text-box-530798560 {
  width: 60%;
}
#text-box-530798560 .text {
  font-size: 100%;
}


@media (min-width:550px) {

  #text-box-530798560 {
    width: 71%;
  }

}

                                    </style>
                                </div><!-- text-box -->

                            </div><!-- .banner-layers -->
                        </div><!-- .banner-inner -->


                        <style scope="scope">

#banner-256600390 {
  padding-top: 300px;
}
#banner-256600390 .bg.bg-loaded {
  background-image: url("/static/img/19.png");
}
#banner-256600390 .overlay {
  background-color: rgba(0, 0, 0, 0.31);
}

                        </style>
                    </div><!-- .banner -->


                </div>
            </div>

            <style scope="scope">

            </style>
        </div>
        <section class="section dark has-mask mask-arrow" id="section_1648453165">
            <div class="bg section-bg fill bg-fill  bg-loaded">


            </div><!-- .section-bg -->

            <div class="section-content relative">

                <div class="container section-title-container" style="margin-top:5px;margin-bottom:0px;"><h3
                        class="section-title section-title-center"><b></b><span class="section-title-main"
                                                                                style="font-size:161%;color:rgb(77, 77, 77);">Cơ hội nghề nghiệp</span><b></b>
                </h3></div><!-- .section-title -->


                <div class="row large-columns-3 medium-columns- small-columns-1 has-shadow row-box-shadow-1">
                    <div class="col post-item">
                        <div class="col-inner">
                            <a href="/co-hoi-nghe-nghiep"
                               class="plain">
                                <div class="box box-bounce box-text-bottom box-blog-post has-hover">
                                    <div class="box-image" style="border-radius:7%;">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <img width="602" height="400"
                                                 src="/static/fileweb/Kỹ-thuật-Phần-mềm-là-ngành-nghề-được-dự-đoán-sẽ-có-nhu-cầu-lao-động-tăng-cao-trong-những-năm-tới-602x400.jpg"
                                                 class="attachment-medium size-medium wp-post-image" alt=""
                                                 srcset="/static/fileweb/Kỹ-thuật-Phần-mềm-là-ngành-nghề-được-dự-đoán-sẽ-có-nhu-cầu-lao-động-tăng-cao-trong-những-năm-tới-602x400.jpg"
                                                 sizes="(max-width: 602px) 100vw, 602px"></div>
                                    </div><!-- .box-image -->
                                    <div class="box-text text-center dark" style="padding:0px 10px 0px 0px;">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">Ngành Kỹ thuật Phần mềm đòi hỏi sinh viên
                                                cần có những tố chất gì?</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Cuộc Cách mạng công nghiệp 4.0 kéo theo sự
                                                phát triển mạnh mẽ của nhóm ngành Công nghệ Thông [...] </p>

                                            <button href="/co-hoi-nghe-nghiep"
                                                    class="button  is-shade is-xsmall mb-0">
                                                Xem thêm
                                            </button>


                                        </div><!-- .box-text-inner -->
                                    </div><!-- .box-text -->
                                </div><!-- .box -->
                            </a><!-- .link -->
                        </div><!-- .col-inner -->
                    </div><!-- .col -->
                    <div class="col post-item">
                        <div class="col-inner">
                            <a href="/co-hoi-nghe-nghiep"
                               class="plain">
                                <div class="box box-bounce box-text-bottom box-blog-post has-hover">
                                    <div class="box-image" style="border-radius:7%;">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <img width="558" height="400" src="/static/fileweb/an-ninh-mang-558x400.jpg"
                                                 class="attachment-medium size-medium wp-post-image" alt=""
                                                 srcset="/static/fileweb/an-ninh-mang-558x400.jpg"
                                                 sizes="(max-width: 558px) 100vw, 558px"></div>
                                    </div><!-- .box-image -->
                                    <div class="box-text text-center dark" style="padding:0px 10px 0px 0px;">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">Việt Nam khát nhân lực ngành An toàn thông
                                                tin, An ninh mạng</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Công nghệ thông tin len lỏi vào từng ngóc
                                                ngách của cuộc sống mang đến biết bao nhiêu thuận [...] </p>

                                            <button href="/co-hoi-nghe-nghiep"
                                                    class="button  is-shade is-xsmall mb-0">
                                                Xem thêm
                                            </button>


                                        </div><!-- .box-text-inner -->
                                    </div><!-- .box-text -->
                                </div><!-- .box -->
                            </a><!-- .link -->
                        </div><!-- .col-inner -->
                    </div><!-- .col -->
                    <div class="col post-item">
                        <div class="col-inner">
                            <a href="/kien-thuc-ky-nang"
                               class="plain">
                                <div class="box box-bounce box-text-bottom box-blog-post has-hover">
                                    <div class="box-image" style="border-radius:7%;">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <img width="632" height="400"
                                                 src="/static/fileweb/nghe-lap-trinh-632x400.jpg"
                                                 class="attachment-medium size-medium wp-post-image" alt=""
                                                 srcset="/static/fileweb/nghe-lap-trinh-632x400.jpg"
                                                 sizes="(max-width: 632px) 100vw, 632px"></div>
                                    </div><!-- .box-image -->
                                    <div class="box-text text-center dark" style="padding:0px 10px 0px 0px;">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">Nghề Lập trình – Kiếm tiền không khó</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Học lập trình rất thú vị với việc được tự
                                                mình tạo ra nhiều sản phẩm công nghệ độc [...] </p>

                                            <button href="/kien-thuc-ky-nang"
                                                    class="button  is-shade is-xsmall mb-0">
                                                Xem thêm
                                            </button>


                                        </div><!-- .box-text-inner -->
                                    </div><!-- .box-text -->
                                </div><!-- .box -->
                            </a><!-- .link -->
                        </div><!-- .col-inner -->
                    </div><!-- .col -->
                </div>
            </div><!-- .section-content -->


            <style scope="scope">

#section_1648453165 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(221, 221, 221);
}

            </style>
        </section>

    </div>

    <!-- chatbot -->

{% endblock %}




